<!DOCTYPE html>
<html ng-app="angularjs-starter">

<head lang="en">
<meta charset="utf-8">
<title>GoogleCharts in AngularJS</title>


<script>
  document.write('<base href="' + document.location + '" />');
</script>
<!-- SCROLLS -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
<script src="app.js"></script>
<script src="appHeader.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"> </script>
<script type="text/javascript">
            google.load('visualization', '1.0', { 'packages': ['corechart'] });
</script>
<link rel="stylesheet" href="styles.css">
</head>

<body>
	<!-- HEADER AND NAVBAR -->
	<header ng-controller="headerCtrl">
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header" style="text-align:center">
					<a class="navbar-brand" href="/">Concurrent job execution
						Charts</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
					<li><a href="#about"><i class="fa fa-shield"></i> About</a></li>
					<li><a href="#contact"><i class="fa fa-comment"></i>{{contact}}</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<!--  Content -->
	<div style="width: 800px">
	<div ng-controller="chartCtrl">
		<button ng:click="refresh()" style="float:right">Refresh</button>
		<h3 style="text-align:center">Job Phase vs Time</h3>
		<div style="float: left; width: 800px; border:1px; border-style: none none solid none;" ng:model="data"
		
			qn:sbchart="{
                legend : {alignment: 'center'}, 
                chartArea: {width: '50%'},
                backgroundColor: '#F7F7F7',
                isStacked:true,
                hAxis: {title: 'Jobs'},
                vAxis: {title: 'time(ms)'}
                }">
		</div>
		<!-- <span my-current-time="format"></span>  -->
	</div>
	<div ng-controller="mainCtrl" style="clear: both;padding-left: 30px">
	    <button ng:click="StartJobs()" style="float:right">Run Jobs</button>
		<h3 style="text-align:center">{{TableTitle}}</h3>
		<Table style="margin: 0 auto">
			<tr>
			<th ng-repeat="title in RowTitles" style="padding:5px">{{title}}</th>
			</tr>
			<tr ng-repeat="job in jobArray">
				<td ng-repeat="s in job" style="padding:5px">{{s}}</td>
			</tr>
		</Table>
	</div>
	</div>
</body>

</html>